/env
olivier-contributions/notebooks/.ipynb_checkpoints/02_visualisation_corr-checkpoint.ipynb
olivier-contributions/notebooks/.ipynb_checkpoints/01_import_exploration-checkpoint.ipynb
olivier-contributions/.ipynb_checkpoints/guide-pas-a-pas-checkpoint.md
.ipynb_checkpoints/perceptron-checkpoint.py
.ipynb_checkpoints/data-analysis-checkpoint.ipynb
olivier-contributions/.ipynb_checkpoints/README-checkpoint.md
olivier-contributions/notebooks/.ipynb_checkpoints/04_perceptron_modele-checkpoint.ipynb
olivier-contributions/notebooks/.ipynb_checkpoints/05_boruta_selection-checkpoint.ipynb
olivier-contributions/notebooks/.ipynb_checkpoints/06_evaluation_sauvegarde-checkpoint.ipynb
olivier-contributions/notebooks/.ipynb_checkpoints/07_perceptron_best_model1-checkpoint.ipynb
olivier-contributions/scripts/.ipynb_checkpoints/perceptron_pedagogique-checkpoint.py
olivier-contributions/scripts/.ipynb_checkpoints/boruta_analysis-checkpoint.py
olivier-contributions/notebooks/.ipynb_checkpoints/03_acp-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
